# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
.nox/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE / editor configs
.vscode/
.idea/
*.swp
*~

# Environment variables / secrets
.env

# OS-specific files
.DS_Store
Thumbs.db

\node_modules
node_modules/
\filestest.py
